{% extends "Appestudiosrurales/padre.html" %}
{% load static %}
{% block contenidoQueCambia %}
<h1>Esta es la sección de Actividades y Eventos </h1>
<ul>
{% for actividades_eventos in object_list %} 
<li>{{actividades_eventos.nombre_de_evento}}
<button>
  <a href="{% url 'actividades_eventos_detalle' actividades_eventos.id%}">Detalle</a>
</button>
<button>
  <a href="{% url 'actividades_eventos_editar' actividades_eventos.id%}">Editar</a>
</button>
<button>
  <a href="{% url 'actividades_eventos_borrar' actividades_eventos.id %}">Borrar</a>
</button>
</li>
{% endfor %}
</ul>
<br>
<br>
<button>
  <a href="{% url 'actividades_eventos_crear' %}">Crear</a>
</button>
{% endblock %}