{% extends "Appestudiosrurales/padre.html" %}
{% load static %}
{% block contenidoQueCambia %}
<h1>Esta es la sección de Actividades y Eventos </h1>
{% for actividades_eventos in object_list %} 
<li>{{Actividades_eventos}}</li>
<button>
  <a href="{% url 'actividades_eventos_detalle' actividades_eventos.id%}">Detalle</a>
</button>
<button>
  <a href="{% url 'actividades_eventos_editar' actividades_eventos.id%}">Editar</a>
</button>
<button>
  <a href="{% url 'actividades_eventos_borrar' actividades_eventos.id %}">Borrar</a>
</button>
{% endfor %}
<br>
<br>
<button>
  <a href="{% url 'actividades_eventos_crear' %}">Crear</a>
</button>
{% endblock %}