<!DOCTYPE html>
<html lang="en">
    <head>
      {% load static %}
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Full Width Pics - Start Bootstrap Template</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href= "{% static 'Appestudiosrurales/css/styles.css' %}" rel="stylesheet" />
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="/Appestudiosrurales/">Home</a>
                <a class = "navbar-brand" href = "/Appestudiosrurales/about_me">Sobre mí</a>
                <a class = "navbar-brand" href = "/Appestudiosrurales/categorias">Categorías</a>
                <a class = "navbar-brand" href = "/Appestudiosrurales/postList/list/" >Posts</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/Appestudiosrurales/investigadorxsList/list/">Investigadorxs</a></li>
                        <li class="nav-item"><a class="nav-link" href="/Appestudiosrurales/publicaciones_home">Publicaciones</a></li>
                        <li class="nav-item"><a class="nav-link" href="/Appestudiosrurales/actividades_eventos/list/">Actividades y Eventos</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Header - set the background image for the header in the line below-->
        <header class="py-5 bg-image-full" style="background-image: url('https://cdn.bolivia.com/sdi/2018/10/04/bolivia-y-argentina-intercambian-experiencias-en-produccion-agroecologica-675852.jpg')">
            <div class="text-center my-5">
                <h1 class="text-black fs-3 fw-bolder">Grupo de Estudios Rurales, Género y Migración</h1>
                <p class="text - black-50 fw -bolder mb-0">Facultad de Humanidades y Ciencias de la Educación <br> Universidad Nacional de La Plata </p>
            </div>
        </header>
        {% block contenidoQueCambia%}
        {% endblock %}
        <!-- Footer-->
        <footer class="py-5 bg-dark">
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
